.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1536px;
  margin: 0 auto;
  background-color: var(--soom-body-bg);
}

.main {
  flex-grow: 1;
  background-color: var(--soom-tertiary-bg);
}
