.container {
  display: flex;
  color: #9e9fa3;
  padding: 1rem;
  border-top: 1px solid var(--soom-border-color);
  background-color: #222630;
}

.blank {
  flex-grow: 1;
}

.copyright {
  color: var(--soom-secondary);
}
