.container {
  display: flex;
  padding: 1rem;
  align-items: center;
  background-color: #222630;
  border-bottom: 1px solid var(--soom-border-color);
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 1rem;
  padding: 0 1rem;
  color: var(--soom-primary-color);
}

.blank {
  flex-grow: 1;
}
